{% extends "base/items-base.html" %}

{% block title %}Items Update{% endblock %}

{% block header %}Update items{% endblock %}

{% block content %}
<form class="create-item-form" method="POST" action="{% url 'update-item' %}">
    {% csrf_token %}
    
    {{ update_item_form }}

    <button type="submit">Update Item</button>
    <button type="button" onclick="window.location.href='{% url 'list-items' %}'">Cancel</button>
</form>
{% endblock %}

{% block footer %}
<p class="return-to-home">Volver al <a href="{% url 'index' %}">inicio</a></p>
{% endblock %}